<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.org.spottest">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--        android:hardwareAccelerated="false"-->
    <!--        android:largeHeap="true"-->

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pic2Playlist"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Pic2Playlist"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".AuthenticationActivity" >
        </activity>

        <activity
            android:name=".ImageToTextActivity" >
        </activity>

        <activity
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:name=".TrackListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".ServiceToActivity" >
        </activity>

        <activity
            android:name=".ChoosePlaylistTypeActivity" >
        </activity>

        <activity
            android:name=".HelpScreenActivity" >
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>